.login-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #6D8B74, #3E5C50);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 320px;
    color: #fff;  

    > p {
      &:last-child {
        margin-bottom: 8px;
      }
    }
  }
}
