$pale-green:#3e5c50;
$muted-green:#6d8b74;

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > button {
    min-width: 250px;
    border: 2px solid $pale-green;
    border-radius: 1px;
  }
}

.page {
  display: flex;
}
